<div>
    <select>
        <option>show all</option>
        <option>show active</option>
        <option>show finished</option>
    </select>
    <select>
        <option>send email to all selected</option>
        <option>send whatsapp to all selected</option>
        <option>send telegram to all selected</option>
        <option>send sms to all selected</option>
        <option>mark selected as suspicous</option>
        <option>mark selected as blacklisted</option>
    </select>
    <button>activate action</button>
</div>